@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
// @import '~@angular/material/core/theming/theming';
@import 'src/app/core/scss/theme';
@import 'src/app/core/scss/themes/default.theme';

@font-face {
  font-family: 'ProximaNova';
  src: url('./fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('./fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
}

html, body, select, option, input, code, pre, ul {
  font-size: 1rem;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  // background: #fafafa;
  // background-color: rgba(255, 255, 255, .4);
  // background-color: $primary-background-body;
  // padding-top: 60px;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  ng-component {
    display: block;
  }
}

a {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

.navbar {
  margin-bottom: 10px;

  .navbar-brand {
    width: 90px;
  }
}

.breadcrumb {
  padding: 8px;
  margin-bottom: 10px;
}

.nav-pills {
  padding-left: 4px;

  >li >a {
    border-radius: 4px 4px 0 0;
    padding: 4px 8px;
  }
}

.tab-content {
  border-style: solid;
  border-top-width: 2px;
  padding: 8px 4px;
}

.alert {
  padding: 8px;
  margin-bottom: 10px;
}

.alert-dismissable .close, .alert-dismissible .close {
  right: 0;
}

[class^="col-*"] {
  padding: 8px 4px;
}

.main-navigation {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(255,255,255,0.3);
  background-color: rgba(0,0,0,0.8);
  border-top: 0;
  z-index: 10000;
  transition: 0.5s ease-out;
}
.main-navigation:hover {
  top: 0;
}
.main-navigation a {
  padding: 10px 15px;
  display: inline-block;
  font-size: 2rem;
  color: $white-color !important;
}
.main-navigation a.one:hover {
  background: #0092B2;
}
.main-navigation a.two:hover {
  background: #776045;
}
.main-navigation a.three:hover {
  background: #A8C545;
}
.main-navigation a.four:hover {
  background: #DFD3B6;
}

.chart {
  padding: 3px;
  div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    box-shadow: 2px 2px 2px #666;
  }
  .axis path, .axis line {
    stroke: #999;
  }
  .axis text {
    fill: #999;
  }

  rect {
    fill: steelblue;
  }
  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
}
@include themestyles();

/* Theme: orange */
@import './app/core/scss/themes/orange.theme';

// body {
//   background-color: $primary-color-test;
//   padding: my-calculation-function(10px, 5px);
//   // width: calc-percent(650px, 1000px);
// }

// @include media(320px) {
//   background: red;
// }

// @include keyframes(fadeIn) {
//   from {
//     opacity: 0%;
//   }
//   to {
//     opacity: 100%;
//   }
// }


/* Theme: Styles
@import 'themes/theme2';
@include themestyles();
*/
