<article>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="#options" aria-controls="options" role="tab" data-toggle="tab" (click)="tabNavigate('options')">
        <i class="fa fa-home"></i><span>Option Master</span></a>
    </li>
    <li role="presentation">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
        <i class="fa fa-bars"></i><span>Users</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
        <i class="fa fa-bars"></i><span>Messages</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="options">
      options master
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      users
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
      messages
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
      application settings
    </div>
  </div>
</article>

<div>
  <p>{{'You\'re logged in with Angular 2!!' | ellipsis:10:'......'}}</p>
  <form #ngForm="ngForm" novalidate autocomplete="false" highlight="gray" fontSize="12px">
    <input name="username" [(ngModel)]="username" placeholder="Username" required/>
    <input name="firstName" [(ngModel)]="firstname" placeholder="First Name" />
    <input name="lastName" [(ngModel)]="lastname" placeholder="Last Name" />
    <search-box name="username1" [label]='"NgModel Works !"' [(ngModel)]="lastnameSearch"></search-box>
  </form>

  <!-- <table #dt class="table table-hover table-striped table-bordered"> -->
  <table #dt class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th style="width: 180px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <ng-template [ngTemplateOutlet]="getTemplate(user)" [ngOutletContext]="{ $implicit: user, index: i }"></ng-template>
      </tr>
    </tbody>
  </table>

  <ng-template #displayTmpl let-user>
    <td>{{user.username}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>
      <div style="width: 180px;">
        <a [routerLink]="['edit', user.id]">{{user.username}}</a>
        <button (click)="editContact(user)" class="btn btn-xs btn-info">Edit</button>
      </div>
    </td>
  </ng-template>

  <ng-template #editTmpl let-i="index">
    <td><input type="text" [(ngModel)]="selectedUser.username" /></td>
    <td><input type="text" [(ngModel)]="selectedUser.firstName" /></td>
    <td><input type="text" [(ngModel)]="selectedUser.lastName" /></td>
    <td>
      <div style="width: 180px;">
        <button (click)="saveContact(i)" class="btn btn-xs btn-success">Save</button>
        <button (click)="reset()" class="btn btn-xs btn-info">Cancel</button>
        <button (click)="deleteUser(user.id)" class="btn btn-xs btn-danger">Delete</button>
        <a (click)="deleteUser(user.id)" class="btn btn-xs btn-danger">Delete</a>
      </div>
    </td>
  </ng-template>
</div>
